

.box1{
    height: 181px;
    width: 491px;
    justify-content: center;
    margin-right: 40px;
  }

  .mainbox{
    padding-bottom: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20% ;
  }

  input{
    margin: 10px;
  }
  h1{
    font-family:cursive;
    color: aliceblue;
  }
  .form-control{
   
    justify-content: center;
    margin-right: 40px;
    opacity: .9;
    
  
    
  }
  .container{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    background-image: url("https://hospitalityinsights.ehl.edu/hubfs/Blog-EHL-Insights/Blog-Header-EHL-Insights/restaurant%20manager.jpeg");
    min-height: 750px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
  }

