<div class="container">
    <button (click)="back()" class="btn btn-primary" type="submit">Back</button><br><br><br>
    <h2>Staffs</h2>
   
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of staffRes.data">
                <td>{{s.id}}</td>
                <td>{{s.name}}</td>
                <td>{{s.email}}</td>
                <td><button style="color: red;" class="btn btn btn-outline-primary"  [routerLink]="['/edit-user/',s.id]">EDIT</button></td>
                <td><button style="color: whitesmoke" class="btn btn-secondary" (click)="deleteUser(s.id)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
</div>