
h2{
    color: rgb(167, 174, 181);
}

.container{
    font-size: 20px;
    color: black;
    border: 3px solid #fbbb09;
    margin: auto;
    background-origin: padding-box;
    /* background: transparent; */
  
    
    box-shadow: #fbbb09;
   
   
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    
    font-weight: bolder;
    transition: 0.4s all ease-in-out;
    font-family: "Roboto", serif;
    box-shadow: 5px 2px 20px white;
    background-image: url("https://cdn.pixabay.com/photo/2012/04/11/17/31/vegetables-29063__340.png");
    background-size: cover;
    
}

.btn1{

    background-color:aqua;
    transition: 0.7s;
    border: 1px solid #ccc;
    border-radius:  15px 0px;
   
    height: 80px;
    width: 150px;
    margin: 50px 10px;
    text-align: center;
    box-shadow: 5px 2px 20px white;
    display: flex;
    
} 
.btn1:hover{
    color:red;

 }


.btn2{

    background-color:aqua;
    transition: 0.7s;
    border: 1px solid #ccc;
    border-radius:  15px 0px;
    height: 80px;
    width: 150px;
    margin: 50px 10px;
    text-align: center;
    box-shadow: 5px 2px 20px white;
    display: flex;
 
} 
.btn2:hover{
    color:red;
 }
.btn3{

    background-color:aqua;
    transition: 0.7s;
    border: 1px solid #ccc;
    border-radius:  15px 0px;
    height: 80px;
    width: 150px;
    margin: 50px 10px;
    text-align: center;
    box-shadow: 5px 2px 20px white;
    display: flex;
   
} 
.btn3:hover{
    color:red;
 }
.btn4{

    background-color:aqua;
    transition: 0.7s;
    border: 1px solid #ccc;
    border-radius:  15px 0px;
    height: 80px;
    width: 150px;
    margin: 50px 10px;
    text-align: center;
    box-shadow: 5px 2px 20px white;
    display: flex;
  
} 
.btn4:hover{
    color:red;
 }






