<!-- <div style="display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 25vh auto;" class="container"> -->
    <div class="container">
        <!-- <h2>{{manager.name}} Manager</h2> -->
        <h2>Staff</h2>
        <div style="display: grid; grid-template-columns: 1.5fr 0.5fr;">
        <div class="b">
                <button (click)="createOrder()" class="btn1">
                    Create Order</button>
        
                <button (click)="viewOrder()" class="btn2">
                   View Order</button>
             
       
            
                
        </div>
    </div>
