<!-- <div style="display: flex; flex-direction: column; justify-content: center; text-align: center; margin: 25vh auto;" class="container"> -->
    <div class="container">
    <!-- <h2>{{manager.name}} Manager</h2> -->
    <h2>Manager: {{manager.name}}</h2>
    <div style="display: grid; grid-template-columns: 1.5fr 0.5fr;">
    <div class="b">
            <button (click)="registerUser()" class="btn1">
                Register staff</button>
    
            <button (click)="createMenu()" class="btn2">
               Create Menu</button>
         
   
        
            <button (click)="viewStaff()" class="btn3">
                View Staff</button>
   
            <button (click)="viewMenu()" class="btn4">
                View Menu</button>
    </div>
</div>



