
<!-- <button class="nav hidden-xs"><a [routerLink]="['./staff-dashboard']">Back</a></button> -->


<div style="margin: 10% auto;" class="container">
    <!-- <li class="nav hidden-xs"><a [routerLink]="['./staff-dashboard']">Back</a></li> -->
    <button (click)="back()" class="btn btn-primary" type="submit">Back</button>
    <div>
  

    <form #createorder="ngForm" (ngSubmit)="createOrder(createorder)" class="form-signin">
        <br>
        <br>
        <h1 class="h3 mb-3 font-weight-normal">Create order</h1>

        <label for="inputEmail" class="sr-only">Name</label>
        <input name="customerName" #customerName="ngModel" ngModel type="name" id="inputEmail" class="form-control" placeholder="Name"
            required>
        <br>
        <label for="inputPassword" class="sr-only">Contact Number</label>
        <input name="contactNumber" #contactNumber="ngModel" ngModel type="text" id="inputPassword" class="form-control"
            placeholder="Contact" required>
        <br>

        <!-- <label for="inputPassword" class="sr-only">Total Price</label>
        <input name="totalPrice" #totalPrice="ngModel" ngModel type="number" id="inputPassword" class="form-control"
            placeholder="Total Price" required>
        <br>

        <label for="inputPassword" class="sr-only">Order Created Time</label>
        <input name="orderCreatedTime" #orderCreatedTime="ngModel" ngModel type="date" id="inputPassword" class="form-control"
            placeholder="Order Created Time" required>
        <br> -->


        <p style="margin: 1px 0 ">Choose Items:</p>
        <div class="list-group foodproduct" *ngFor="let f of foodProductsRes.data">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action" style="margin: 1px auto">
                <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1">{{f.name}}</p>
                    <small> &#8377; {{f.price}}</small>
                    <div>
                        <button type="button" (click)="addItem(f.id,f.price)" class="quantity-inp">+</button>
                        <button type="button" class="quantity-inp">{{itemsMap.get(f.id) || 0}}</button>
                        <button type="button" (click)="deleteItem(f.id,f.price)" class="quantity-inp">-</button>
                    </div>
                </div>
            </a>
            <p>{{f.orderCreatedTime | date:'short'}}</p>
            <p>{{f.orderDeliveryTime | date:'short'}}</p>
        </div>
        <p style="margin-top:10px;">Total price:  <span>{{orderTotal}}</span></p>

        <br>
        <button (click)="info()" class="btn btn-lg btn-primary btn-block" type="submit">ORDER </button>
    </form>
</div>