.quantity-inp{
    margin-right: 5px; border: 1px solid #ccc; border-radius: 50%; background-color: white;
}

 p, small{
    color: black;
    font-weight: bold;
    font-style: italic;
}
h1{
    color: aliceblue;
    font-weight: bolder;
}
.c2, .c1{
    color: white;
    font-weight: bolder;
}